{
  "extends": ["next/core-web-vitals"],
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "react/react-in-jsx-scope": "off",
    "no-underscore-dangle": "off",
    "prefer-destructuring": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": 0,
    "react/button-has-type": 0
  },
  "env": {
    "jest": true
  }
}
